environment={{ finbank_environment }}
payment.timeout.ms={{ payment_timeout_ms }}
payment.retry.max={{ payment_retry_max }}
audit.enabled={{ audit_enabled | lower }}
fraud.events.enabled={{ fraud_events_enabled | lower }}
